$padTopAdmin: 30px;
$padTop: 44px;
$darkBg: #292828;
$titlesColor: cornsilk;
.logged-in {
  .siteHeader {
    top: 32px;
  }
  nav,
  .participantsMenu,
  #info {
    top: $padTopAdmin;
  }
}

.siteHeader {
  background-color: $darkBg;
  color: $titlesColor;
  padding: 0.5em;
  text-align: center;
  letter-spacing: 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.homeNav {
  position: fixed;
  top: $padTop;
  height: 100%;
  .sub-menu {
    padding-left: 0.5em;
    font-size: 0.85em;
  }
}

.homeNav {
  position: relative;
  z-index: 99;
  height: auto;
  background-color: $darkBg;
  padding: 1em;
  a,
  a:visited {
    color: $titlesColor;
    &:hover {
      color: darken($titlesColor, 20%);
    }
  }
  .current-menu-item {
    a,
    a:visited {
      color: darken($titlesColor, 20%);
    }
  }
  .sub-menu {
    font-size: 0.85em;
    li {
      line-height: 1.2;
      padding: 0.2em 0.4em;
    }
  }
}

.siteMain {
  display: block;
  height: 100%;
  margin-left: auto;
}

.tagsWrapper {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
}

#audioPlayer {
  position: fixed;
  bottom: 10px;
  width: 90%;
  left: 5%;
  z-index: 9999;
}

#stage {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.vids {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  iframe {
    width: 230px;
    height: 128px;
    .ytp-button {
      display: none;
    }
  }
}

.tag {
  font-family: $manualFont;
  font-size: 1.1em;
  cursor: pointer;
  color: #483232;
  position: absolute;
  padding: 1em;
  &:hover {
    background-color: black;
    color: $titlesColor;
    z-index: 99;
  }
  z-index: 2;
}

#info {
  position: fixed;
  height: 100vh;
  top: $padTop;
  right: 0;
  background-color: $darkBg;
  color: $titlesColor;
  padding: 2em;
  display: none;
  overflow: auto;
  a,
  a:link {
    color: $titlesColor;
  }
  &.active {
    display: block;
    z-index: 999;
  }
  .infoTitle {
    margin: 0;
    font-size: 1.3em;
    margin-bottom: 1em;
    letter-spacing: 0.5em;
    text-align: right;
  }
  .postsWrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .post {
    position: relative;
    width: 300px;
    margin-bottom: 2em;
    .postImg {
      z-index: 2;
      line-height: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .postTitle {
      line-height: 1.2;
      font-size: 0.85em;
      width: 100%;
      z-index: 3;
      top: 0;
      display: block;
      background-color: $titlesColor;
      color: black;
      padding: 1em;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.2em;
    }
  }
}

.single {
  .postLink {
    padding: 1em 0;
    width: 30%;
    line-height: 1.2;
    &.nextLink {
      text-align: right;
    }
  }
  #top {
    position: relative;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 30vh;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  #content,
  #related {
    margin: 0 auto;
  }
  #tags {
    margin: 5em 0 5em 0;
  }
  #content {
    .participantHeader {
      align-items: center;
    }
    .participantThumb {
      line-height: 0;
      max-width: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .participantName {
      width: 30vw;
      margin: 1em 0;
    }
    .participantBio {
      margin: 0 auto;
    }
  }
}

.type-page,
.type-post {
  margin: 5em auto;
}

.role {
  margin-top: -0.5em;
}

#related {
  margin-top: 4em;
  text-align: center;
}

.single-participants {
  padding-bottom: 8em;
  .tagsWrapper {
    height: 80vh;
  }
}
